@import '../../../scss/mixins';
@import '../../../scss/variables';


.f-icon {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  &__text{
    font-size: 16px;
    float: left;
    display: block;
    margin-top: 74px;
    text-align: center;
    width: 72px;
  }
  &--uno {
    background-image: url('../../../assets/image/footer-icon1.png');
  }
  &--dos {
    background-image: url('../../../assets/image/footer-icon2.png');
  }
  &--tres {
    background-image: url('../../../assets/image/footer-icon3.png');
  }
  &--cuatro {
    background-image: url('../../../assets/image/footer-icon4.png');
  }
 
}
