@import '../../../scss/mixins';
@import '../../../scss/variables';


.icon {
  margin: 0 auto;
  width: 72px;
  height: 72px;
  &__text{
     /*small: 12px, 
    normal: 16px, 
    caption: 18px,
    medium: 20px,
    large: 24px,
    heading3: 30px,
    heading2: 60px,
    heading1: 80px*/
    font-size:  map-get($font-size,small)!important;
    font-weight: bold;
    float: left;
    display: block;
    margin-top: 74px;
    text-align: center;
    width: 72px;
  }
  &--pagos {
    background-image: url('../../../assets/image/pagos-ico.png');
  }
  &--saldos {
    background-image: url('../../../assets/image/saldo-ico.png');
  }
  &--seguros {
    background-image: url('../../../assets/image/seguros-ico.png');
  }
  &--servicios {
    background-image: url('../../../assets/image/servicios-ico.png');
  }
  &--tarjetas {
    background-image: url('../../../assets/image/tarjetas-ico.png');
  }
  &--transferencias {
    background-image: url('../../../assets/image/transferencia-ico.png');
  }
  &--cajeros {
    background-image: url('../../../assets/image/cajeros-ico.png');
  }
  &--creditos {
    background-image: url('../../../assets/image/creditos-ico.png');
  }
}
