@import '../../../scss/mixins';
@import '../../../scss/variables';

.button {
  margin: 0 auto;

  &--primaryBlue {
    @include button(primaryBlue);
  }

  &--primaryRed {
    @include button(primaryRed);
  }

  &--primaryGreen {
    @include button(primaryGreen);
  }
}
