@import './scss/mixins';
@import './scss/variables.scss';
body{
  background-color: map-get($body-color, light);
  background-image: url('../src/assets/image/bkg.jpg');
  font-family:map-get($font-family, OpenSans); 
}

.app-wrapper {
  width: 1280px;
  margin: auto;

  @media(max-width: map-get($breakpoints, xl)) {
   width: 100%
  }

  &__main-bottons {
    width: 85%;
    float: left;
    text-align: center;
    padding-left: 15%;
    box-sizing: border-box;
    @media(max-width: map-get($breakpoints, md)) {
      padding-left: 20px;
      width: 85%;
     }
    & button {
      height: 64px !important;
      width: 100%;
      
    }
  }
  
  &__main-bottons-item {
    margin: map-get($spacing, small);
    width: grid-width(3, false);
    float: left;
   
    @media(max-width: map-get($breakpoints, md)) {
      //width: grid-width(12, false);
      width: 100%;
      display: block;
     }
  }

  &__header {
    margin: 0;
    //width: grid-width(12, false);
    width: 100%;
   
    & img {
      @media(max-width: map-get($breakpoints, md)) {
        width: 100%;
       }
     
    }
  } 
  &__header-cont {
    margin: 0;
    width: grid-width(4, false);
    float: left;
    
    
    &--left-img {
      & img {
        float: right
         }
    } 
    &--center-img {
      & img {
        margin: auto;
         }
    }
    &--right-img {
      & img {
        float: left;
         }
    }
  }  
  &__main {
    margin: 0;
    //width: grid-width(12, false);
    width: 100%;
  }  

  &__main-left {
    margin: 0;
    width: grid-width(6, false);
    float: left;
    @media(max-width: map-get($breakpoints, md)) {
      //width: grid-width(12, false);
    width: 100%;
     }
  
  }
  &__main-left-title {
    margin: 0;
    //width: grid-width(12, false);
    width: 100%;
    float: left;
    font-size: map-get($font-size, large) ;
    font-weight: bold;
    margin-top: map-get($spacing, medium);
    padding-left: map-get($spacing, medium);
    box-sizing: border-box;
    & span {
      color: map-get($brand-color, secondary) ;
    }
  
  }
  &__main-right {
    margin: 0;
    width: grid-width(6, false);
    float: left;
   & img {
     width: 100%;
   }
    @media(max-width: map-get($breakpoints, md)) {
      //width: grid-width(12, false);
    width: 100%;
     }
  
  }
  &__footer {
    margin: 0;
    padding: map-get($spacing,small); 
   //width: grid-width(12, false);
   width: 100%;
   box-sizing: border-box;
    background: map-get($footer-color, dark);
    float: left;
    border-radius: map-get($border-radius, medium);
    & h3 {
      font-weight: bold;
      /*small: 12px, 
      normal: 16px, 
      caption: 18px,
      medium: 20px,
      large: 24px,
      heading3: 30px,
      heading2: 60px,
      heading1: 80px*/
      font-size:  map-get($font-size, medium); 
       /* dark: #000,
        light: #fff,
        input: #8c8c8c,
        link: #333*/
      color:  map-get($font-color, light); 

    }
    
  }


  &__footer-item {
    width: grid-width(3, false);
    float: left;
    height: 100px;
 
     /* dark: #000,
      light: #fff,
      input: #8c8c8c,
      link: #333*/
    color:  map-get($font-color, light); 
    @media(max-width: map-get($breakpoints, lg)) {
      width: grid-width(6, false);
     }
     @media(max-width: map-get($breakpoints, md)) {
      //width: grid-width(12, false);
    width: 100%;
     }
  }
}
.icon-wrapper {
  width: grid-width(3, false);
  float: left;
  margin-top: map-get($spacing, medium);
  margin-bottom: map-get($spacing, medium);
 & span :nth-child(2) {
      margin-left: -8px;
    }
  
}


