@import 'variables';
@import 'functions';

@mixin box-size($height,  $width) {
  height: $height;
  width: $width;
}

@mixin button($type) {
  box-sizing: border-box;
  cursor: pointer;
 // display: inline-block;
  outline: unset;
  padding: 10px 15px;
  text-align: center;
  margin-top: 0;
   /*small: 12px, 
    normal: 16px, 
    caption: 18px,
    medium: 20px,
    large: 24px,
    heading3: 30px,
    heading2: 60px,
    heading1: 80px*/
    font-size:  map-get($font-size,caption)!important;
    text-shadow: 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;
  &:hover {
    transition:  .3s ease;
  }

  & svg {
    fill: #fff;
  }

  @if $type == 'primaryBlue' {
    background: map-get($brand-color, primary) !important;
    border-radius: map-get($border-radius, small) !important;
    color:  #fff !important;

    &:hover {
      background: #006cad!important;
      color: #fff !important;
    }

    &:active {
      background: map-get($brand-color, primary) !important;
    }
   }
   @if $type == 'primaryRed' {
    background: map-get($brand-color, secondary) !important;
    border-radius: map-get($border-radius, small) !important;
    color:  #fff !important;

    &:hover {
      background: #d8261c!important;
      color: #fff !important;
    }

    &:active {
      background: map-get($brand-color, secondary) !important;
    }
   }
   @if $type == 'primaryGreen' {
    background: map-get($brand-color, tertiary) !important;
    border-radius: map-get($border-radius, small) !important;
    color:  #fff !important;

    &:hover {
      background-color: #009340!important;
      color: #fff !important;
    }

    &:active {
      background: map-get($brand-color, tertiary) !important;
      border: 1px solid map-get($brand-color, tertiary) !important;
    }
   }
}

@mixin bg-image($image) {
  //background-attachment: fixed;
  background-image: url($image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;

}
