@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
// Global Variables


$columns: 12;
$gutter: 20px;

//Landing page body color 
$body-color: (
  dark: #000,
  light: #E2E0E1
);

$footer-color: (
  dark: #3EAEDC,
  light: #E2E0E1
);

//Brand Color
$brand-color: (
  primary:  #007cc6,
  secondary: #F23C32,
  tertiary: #27A94B
);

$font-size: (
  small: 12px,
  normal: 16px,
  caption: 18px,
  medium: 20px,
  large: 24px,
  heading3: 30px,
  heading2: 60px,
  heading1: 80px
);

$font-family: (
  Montserrat: 'Montserrat',
  Anton: 'Anton',
  Sans-serif: sans-serif,
  OpenSans: 'Open Sans'
);

$font-color: (
  dark: #000,
  light: #fff,
  input: #8c8c8c,
  link: #333
);

$spacing: (
  small: 15px,
  medium: 30px,
  large: 60px
);

$zindex: (
  default:  0,
  modal-overlay:  350,
  modal: 400,
  tip: 10
);

$border-radius: (
  none: 0,
  small: 5px,
  medium: 20px,
  large: 40px,
  full: 50%
);

$shadows: (
  small: -1px 2px 7px 0 rgba(0, 0, 0, .2),
  medium: -1px 2px 7px 0 rgba(0, 0, 0, .2),
  large: -1px 2px 7px 0 rgba(0, 0, 0, .2)
);

$breakpoints: (
  xs: 320px,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);

